<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Bootstrap</title>
    
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <link href="./bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
    <link href="./index.css" rel="stylesheet" type="text/css" />
	<link href="./font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">

  </head>

<body>
<nav class="navbar navbar-default" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="#"><img class="logo-img" src="http://d13yacurqjgara.cloudfront.net/users/171431/screenshots/1258999/screenshot_2013-10-03_13.41.58.png" /></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="upper-navbar" >
    <ul class="nav navbar-nav navbar-right upper">
      <li><a href="#">注册</a></li>
      <li><a href="#">登陆</a></li>
    </ul>
  </div>

  <div class=" navbar" >
    <ul class="nav navbar-nav" style="font-size: 16px;">
      <li class="active"><a href="#">首页</a></li>
      <li><a href="#">社区</a></li>
      <li><a href="#">直播</a></li>
      <li><a href="#">视频</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right" >
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
	</ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>

<div>
  <div class="container">
    <div class="col-md-8 col-lg-7">
	<ul class="threads-list">
	  <li class="thread">
		<div class="row">
		  <div class="pull-right thread-logo"><img src="http://ww2.sinaimg.cn/bmiddle/88bf7f10jw1eaqencao4rj20qe0goady.jpg" />
		  </div>
		  <div class="thread-title"><span>中国男足征战亚洲杯预选赛的小组赛即将打响西安主场</span></div>
		  <section class="thread-brief">
		  北京时间11月19日19:35，中国男足征战亚洲杯预选赛的小组赛即将打响，国足将在西安主场迎战沙特。
		  目前国足积7分暂居C组第2，只要本场比赛能够......
		  </section>
		</div>
		<div class="row thread-info">
		  <div class="col-md-4">
		  <div class="pull-left avatar">
		    <a href="#"><img alt="B3041e5120710b3a5859f5af5c6d9ba2" class="uface" src="http://ruby-china.org/avatar/b3041e5120710b3a5859f5af5c6d9ba2.png?s=96&amp;d=404" /></a>
		  </div>
		  <div>guotie</div><div class="thread-tm">1小时12分钟前</div>
		  </div>
		  <div class="col-md-4 thread-stat">
		    <i class="fa fa-thumbs-o-up fa-2x"></i><span class="thread-num">12345</span>
		    <span class="glyphicon glyphicon-comment" style="font-size: 25px; padding-top: 8px;"></span><span class="thread-num">12345</span>
		  </div>
		  <div class="col-md-4 thread-catalog">
		  <span>足球</span><span style="padding-left: 0px; padding-right: 0px;">|</span><span>中国足球</span>
		  </div>
		</div>
	  </li>

	  <li class="thread even">
		<div class="row">
		  <div class="pull-right thread-logo"><img src="http://ww2.sinaimg.cn/bmiddle/88bf7f10jw1eaqencao4rj20qe0goady.jpg" />
		  </div>
		  <div class="thread-title">arsenal vs manu</div>
		  <section class="thread-brief">
		  
		  </section>
		</div>
		<div class="row thread-info">
		  <div class="pull-left avatar">
		    <a href="#"><img alt="B3041e5120710b3a5859f5af5c6d9ba2" class="uface" src="http://ruby-china.org/avatar/b3041e5120710b3a5859f5af5c6d9ba2.png?s=96&amp;d=404" /></a>
		  </div>
		</div>
	  </li>

	  <li class="thread">
	  </li>

	  <li class="thread">
	  </li>
	</ul>
	</div>
	
	<!-- sidebar -->
	<div class="col-md-4 col-lg-5">
	</div>

  </div>
</div>

<!-- footer -->
<div>
</div>

</body>

</html>
